<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <p style="text-align: center;">Info about the app, where the inspiration came from, how the anonymity works, suggestions for types of posts, and contact info.</p>
    </ion-card-content>
  </ion-card>

  <p style="text-align: center; margin-top: 10vh;">Direct all inquiries to <a href="mailto:essentialinquiries@gmail.com">essentialinquiries@gmail.com</a></p>

</ion-content>
