<ion-item lines="full">
  <ion-label>
    <h2>Replies</h2>
    <p style="display: flex; align-items: center;" (click)="changeSort()">
      <ion-icon name="options" style="margin-right: 0.5em;"></ion-icon>
      {{ sort === 'createdAt' ? 'Recent' : 'Popular' }}
    </p>
  </ion-label>
  <ion-badge *ngIf="replyCount" slot="end">{{ replyCount }}+</ion-badge>
</ion-item>

<ion-item *ngIf="!replyCount" lines="none">
  <ion-label style="text-align: center;">Be the first to reply to this comment!</ion-label>
</ion-item>

<ion-card *ngFor="let reply of replies$ | async" style="border-left: 2px solid var(--ion-color-primary)">
  <ion-card-header>
    <ion-card-subtitle>{{ reply.username }} - {{ reply.createdAt.toDate() | date:'medium' }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p>{{ reply.text }}</p>
  </ion-card-content>
  <ion-badge (click)="toggleLike(reply)" style="position: absolute; bottom: 1em; right: 1em;">
    {{ reply.likes ? reply.likes : '' }}
    <ion-icon [name]="iconName(reply, user)"></ion-icon>
  </ion-badge>
</ion-card>
