<ion-content>

  <ion-card *ngIf="auth.user$ | async as user; else noUser" class="desktop" style="width: 95%">
    <ion-card-header color="primary">
      <ion-card-subtitle>{{ user.job }} {{ user.company }} {{ !user.job && !user.company ? 'No Job Info' : '' }} </ion-card-subtitle>
      <ion-card-title>{{ user.username }}</ion-card-title>
      <span style="position: absolute; bottom: 10px; right: 10px;">{{ user.posts }} {{ user.posts == 0 || user.posts > 1 ? 'posts' : 'post' }}</span>
    </ion-card-header>
    <br>
    <ion-card-content>
      <ion-item lines="none">
        <ion-toggle [(ngModel)]="darkMode" (ngModelChange)="darkToggle()" slot="start"></ion-toggle>
        <ion-label>Dark Mode</ion-label>
      </ion-item>
      <ion-item lines="none" (click)="showColorPopover()" style="cursor: pointer;">
        <ion-icon name="color-palette-outline" slot="start" color="primary" style="margin: 0 0.7em;"></ion-icon>
        <ion-label>Color</ion-label>
      </ion-item>
      <ion-item lines="none" (click)="editInfo()">
        <ion-label>Edit Info</ion-label>
        <ion-icon name="chevron-forward" slot="end"></ion-icon>
      </ion-item>
      <ion-item lines="none" (click)="viewPosts(user.uid)">
        <ion-label>View Your Posts</ion-label>
        <ion-icon name="chevron-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ng-template #noUser>
    <div style="text-align: center;" class="desktop">
      <h4 style="margin: 2em auto;">Login to interact with the community</h4>

      <ion-button expand="block" fill="outline" (click)="auth.login()">
        Login Anonymously
        <ion-icon name="log-in-outline" slot="end"></ion-icon>
      </ion-button>
    </div>
  </ng-template>

  <img
    src="assets/caronabalona-ad.png"
    alt="Carona Balona"
    style="display: block; width: 98%; max-width: 777px; margin: 1em auto;"
    (click)="adClick()">

  <ion-list class="desktop">
    <ion-item (click)="share()" style="cursor: crosshair;">
      <ion-label>Share</ion-label>
      <ion-icon slot="end" name="share-social-outline"></ion-icon>
    </ion-item>

    <ion-item routerLink="/about">
      <ion-label>More Info</ion-label>
    </ion-item>

    <ion-item routerLink="/privacy">
      <ion-label>Privacy Policy</ion-label>
    </ion-item>
  
    <ion-item routerLink="/terms">
      <ion-label>Terms of Service</ion-label>
    </ion-item>
  </ion-list>

  <ion-button *ngIf="auth.user$ | async" (click)="logout()" expand="block" style="margin: 2em auto">
    Logout (forever)
  </ion-button>

</ion-content>
