.top-tab-bar {
    display: none;
}

.bottom-tab-bar {
    display: flex;
}

::ng-deep .tooltip {
    font-size: 1em;
    color: white;
    background: var(--ion-color-primary-tint);
}

@media (min-width: 777px) {
    .top-tab-bar {
        display: flex;
    }

    .bottom-tab-bar {
        display: none;
    }
}
