<!-- <ion-header [translucent]="true">

</ion-header> -->

<ion-content style="text-align: center;">

  <div *ngIf="!hideAnnouncement" class="announcement">
    <ion-icon (click)="hideAnnouncement = true" style="display: block; margin: 0 0 0 auto; font-size: 24px;" name="close-outline"></ion-icon>

    <h2>Welcome to Authentic Essentials!</h2>
    <p style="padding: 8px">The best place to talk anonymously about pandemic experiences.</p>
    <ion-button routerLink="/about" color="tertiary" expand="full" style="margin: 0;">
      <span style="margin-top: 4px">Learn More</span>
      <ion-icon name="chevron-forward" slot="end"></ion-icon>
    </ion-button>
  </div>

  <ion-card>
    <ion-card-content>
      <br>
      <p>Advertisement</p>
      <br>
    </ion-card-content>
  </ion-card>

  <ion-segment color="primary" value="recent" (ionChange)="changeSort($event)">
    <ion-segment-button value="recent">
      <ion-label>Recent</ion-label>
    </ion-segment-button>
    <ion-segment-button value="popular">
      <ion-label>Popular</ion-label>
    </ion-segment-button>
    <ion-segment-button value="featured">
      <ion-label>Featured</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-thumbnail-list *ngIf="posts$ | async as posts" [posts]="posts"></app-thumbnail-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
