<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>What is this?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Essentials Anonymous is a platform where people can share experiences working and interacting with others during the COVID-19 pandemic.</p>
      <br>
      <p>Including information about your employer and job is optional, but feel free to name and shame as well as explain and proclaim!</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>How Anonymous?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p style="text-align: center;">You don't even need an email address to sign in!</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>How does it work?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Check out some posts and engage with others in the comments!</p>
      <br>
      <p>Submit a post of your own and even include an image if you want!</p>
      <br>
      <p>Most importantly you change the app colors and toggle dark mode!</p>
    </ion-card-content>
  </ion-card>

  <p style="text-align: center; margin-top: 15vh;">Direct all inquiries to <a href="mailto:essentialinquiries@gmail.com">essentialinquiries@gmail.com</a></p>

  <ion-button *ngIf="auth.user$ | async" (click)="auth.logout()" expand="block" style="margin: 2em auto; max-width: 777px;">
    Logout (forever)
  </ion-button>

</ion-content>
