<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Comment</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFollowing()">
        <ion-icon *ngIf="following" name="notifications" slot="icon-only"></ion-icon>
        <ion-icon *ngIf="!following" name="notifications-off" slot="icon-only" style="opacity: 0.5;"></ion-icon>
      </ion-button>
      <ion-button (click)="showActions()">
        <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="comment$ | async as comment">

  <ion-card style="border-left: 4px solid var(--ion-color-primary);">
    <ion-card-content>
      <ion-badge *ngIf="comment.likes" style="position: absolute; top: 1em; right: 1em;">
        {{ comment.likes }}
        <ion-icon *ngIf="comment.liked" name="thumbs-up"></ion-icon>
        <ion-icon *ngIf="!comment.liked" name="thumbs-up-outline"></ion-icon>
      </ion-badge>
      <p>(Commented from 'Post Title')</p>
      <p [routerLink]="'/user-posts/' + commentUserId">{{ comment.username }}</p>
      <p>{{ comment.createdAt.toDate() | date:'short' }}</p>
      <hr>
      <p>{{ comment.text }}</p>
    </ion-card-content>
    <ion-button expand="full" (click)="liked ? unlike() : like()" style="margin: 0;" color="secondary">
      <span slot="start" style="margin-top: 4px">{{ liked ? 'Liked' : 'Like' }}</span>
      <ion-icon *ngIf="liked" name="thumbs-up" slot="end"></ion-icon>
      <ion-icon *ngIf="!liked" name="thumbs-up-outline" slot="end"></ion-icon>
    </ion-button>
  </ion-card>

  <app-replies [postId]="postId" [commentId]="commentId" [postUserId]="postUserId" [commentUserId]="commentUserId"></app-replies>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item *ngIf="auth.user$ | async; else noUser" lines="none">
      <ion-icon size="small" slot="start" name="chatbubbles" color="primary"></ion-icon>
      <ion-input [(ngModel)]="reply" placeholder="Reply..." (keyup.enter)="addReply()"></ion-input>
      <ion-icon *ngIf="reply?.length" (click)="addReply()" size="small" slot="end" name="paper-plane" color="primary"></ion-icon>
    </ion-item>
    <ng-template #noUser>
      <ion-item routerLink="/tabs/user" lines="none">
        <ion-icon size="small" slot="start" name="chatbubbles" color="primary"></ion-icon>
        <ion-label color="primary">Login to Reply</ion-label>
      </ion-item>
    </ng-template>
  </ion-toolbar>
</ion-footer>
