<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Comment</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFollowing()">
        <ion-icon *ngIf="following" name="notifications" slot="icon-only"></ion-icon>
        <ion-icon *ngIf="!following" name="notifications-off" slot="icon-only" style="opacity: 0.5;"></ion-icon>
      </ion-button>
      <ion-button (click)="showActions()">
        <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="comment$ | async as comment">

  <div style="margin: 0 1em 2em;">
    <ion-badge *ngIf="comment.likes" style="position: absolute; top: 1em; right: 1em;">
      {{ comment.likes }}
      <ion-icon name="thumbs-up"></ion-icon>
    </ion-badge>
    <p [routerLink]="'/user-posts/' + commentUserId">{{ comment.username }}</p>
    <p>{{ comment.createdAt.toDate() | date:'short' }}</p>
    <hr>
    <p>{{ comment.text }}</p>
  </div>

  <app-replies [postId]="postId" [commentId]="commentId"></app-replies>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item *ngIf="auth.user$ | async; else noUser" lines="none">
      <ion-icon size="small" slot="start" name="chatbubbles" color="primary"></ion-icon>
      <ion-input [(ngModel)]="reply" placeholder="Reply..."></ion-input>
      <ion-icon *ngIf="reply?.length" (click)="addReply()" size="small" slot="end" name="paper-plane" color="primary"></ion-icon>
    </ion-item>
    <ng-template #noUser>
      <ion-item routerLink="/tabs/user" lines="none">
        <ion-icon size="small" slot="start" name="chatbubbles" color="primary"></ion-icon>
        <ion-label color="primary">Login to Reply</ion-label>
      </ion-item>
    </ng-template>
  </ion-toolbar>
</ion-footer>
