<ion-item lines="full">
  <ion-label>Comments</ion-label>
  <ion-badge *ngIf="commentCount" slot="end">{{ commentCount }}+</ion-badge>
</ion-item>

<ion-item *ngIf="!commentCount" lines="none">
  <ion-label style="text-align: center;">Be the first to comment on this post!</ion-label>
</ion-item>

<ion-card
  *ngFor="let comment of comments$ | async"
  style="border-left: 2px solid var(--ion-color-primary)"
  [routerLink]="'/comment-view/' + comment.postId + '/' + comment.id">

  <ion-card-header>
    <ion-card-subtitle>{{ comment.username }}, 6 hours ago</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p>{{ comment.text }}</p>
  </ion-card-content>

  <ion-badge *ngIf="!comment.liked" (click)="likeComment(comment)" style="z-index: 10; position: absolute; bottom: 1em; right: 1em;">
    {{ comment.likes ? comment.likes : '' }}
    <ion-icon name="thumbs-up-outline"></ion-icon>
  </ion-badge>
  <ion-badge *ngIf="comment.liked" (click)="unlikeComment(comment)" style="z-index: 10; position: absolute; bottom: 1em; right: 1em;">
    {{ comment.likes ? comment.likes : '' }}
    <ion-icon name="thumbs-up"></ion-icon>
  </ion-badge>
</ion-card>

<ion-infinite-scroll threshold="150px" (ionInfinite)="loadMore($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
</ion-infinite-scroll>
