<ion-item lines="full">
  <ion-label>
    <h2>Comments</h2>
    <p style="display: flex; align-items: center;" (click)="changeSort()">
      <ion-icon name="options" style="margin-right: 0.5em;"></ion-icon>
      {{ sort === 'createdAt' ? 'Recent' : 'Popular' }}
    </p>
  </ion-label>
  <ion-badge *ngIf="commentCount" slot="end">{{ commentCount }}+</ion-badge>
</ion-item>

<ion-item *ngIf="!commentCount" lines="none">
  <ion-label style="text-align: center;">Be the first to comment on this post!</ion-label>
</ion-item>

<div *ngFor="let comment of comments$ | async" style="position: relative;">
  <ion-card
    [ngStyle]="{ 'border-left': comment.userId === user.uid ? '8px solid var(--ion-color-secondary)' : '4px solid var(--ion-color-primary)' }"
    [routerLink]="'/comment-view/' + comment.postId + '/' + comment.id">

    <ion-card-header>
      <ion-card-subtitle>{{ comment.username }}, 6 hours ago</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>{{ comment.text }}</p>
    </ion-card-content>

    <p style="margin: 0 0 0.5em 0.5em; font-size: 0.8em; text-align: center;">View Replies</p>
  </ion-card>

  <ion-badge (click)="comment.liked ? unlikeComment(comment) : likeComment(comment)" style="z-index: 10; position: absolute; bottom: 1em; right: 2em;">
    {{ comment.likes ? comment.likes : '' }}
    <ion-icon [name]="comment.liked ? 'thumbs-up' : 'thumbs-up-outline'"></ion-icon>
  </ion-badge>
</div>

<ion-infinite-scroll threshold="150px" (ionInfinite)="loadMore($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
</ion-infinite-scroll>
