<ion-content>

  <div *ngIf="!hideAnnouncement" class="announcement">
    <ion-icon (click)="hideAnnouncement = true" style="display: block; margin: 0 0 0 auto; font-size: 24px; cursor: pointer;" name="close-outline"></ion-icon>
    <h2>Welcome to Essentials Anonymous!</h2>
    <p style="padding: 8px">The best place to talk anonymously about pandemic experiences.</p>
    <ion-button routerLink="/about" color="secondary" expand="full" style="margin: 0;">
      <span style="margin-top: 4px">Learn More</span>
      <ion-icon name="chevron-forward" slot="end"></ion-icon>
    </ion-button>
  </div>

  <div class="desktop">

    <ion-segment color="primary" value="createdAt" (ionChange)="changeSort($event)">
      <ion-segment-button value="createdAt">
        <ion-label>Recent</ion-label>
      </ion-segment-button>
      <ion-segment-button value="likes">
        <ion-label>Popular</ion-label>
      </ion-segment-button>
      <ion-segment-button value="featured">
        <ion-label>Featured</ion-label>
      </ion-segment-button>
    </ion-segment>

    <app-thumbnail-list *ngIf="posts$ | async as posts" [posts]="posts" [userId]="userId"></app-thumbnail-list>

    <ion-infinite-scroll threshold="150px" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>


</ion-content>
