<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="toggleFollowing()">
        <ion-icon *ngIf="following" name="notifications" slot="icon-only"></ion-icon>
        <ion-icon *ngIf="!following" name="notifications-off" slot="icon-only" style="opacity: 0.5;"></ion-icon>
      </ion-button>
      <ion-button (click)="showActions()">
        <ion-icon name="ellipsis-vertical-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="post$ | async as post">
  <div style="margin: 0 1em 2em;">
    <ion-badge *ngIf="post.likes" style="position: absolute; top: 1em; right: 1em;">
      {{ post.likes }}
      <ion-icon *ngIf="liked" name="thumbs-up"></ion-icon>
      <ion-icon *ngIf="!liked" name="thumbs-up-outline"></ion-icon>
    </ion-badge>
    <h1>{{ post.title }}</h1>
    <h4>{{ post.type }}, {{ post.company }}</h4>
    <p [routerLink]="'/user-posts/' + postUserId">{{ post.username || 'Username' }}</p>
    <p>{{ post.createdAt.toDate() | date:'short' }} {{ post.location || '' }}</p>
    <hr>
    <p>{{ post.content }}</p>
  </div>

  <div style="display: flex; justify-content: space-around;">
    <ion-button expand="full" style="flex-grow: 1;" (click)="liked ? unlike(post.title) : like(post.title)">
      <span slot="start" style="margin-top: 4px">{{ liked ? 'Liked' : 'Like' }}</span>
      <ion-icon *ngIf="liked" name="thumbs-up" slot="end"></ion-icon>
      <ion-icon *ngIf="!liked" name="thumbs-up-outline" slot="end"></ion-icon>
    </ion-button>
    <ion-button expand="full" style="flex-grow: 1;">
      <span slot="start" style="margin-top: 4px">Share</span>
      <ion-icon name="share-social-outline" slot="end"></ion-icon>
    </ion-button>
  </div>

  <br><br>

  <app-comments [postId]="postId"></app-comments>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item *ngIf="auth.user$ | async; else noUser" lines="none">
      <ion-icon size="small" slot="start" name="chatbubbles" color="primary"></ion-icon>
      <ion-input [(ngModel)]="comment" placeholder="Write a Comment..." (keyup.enter)="addComment()"></ion-input>
      <ion-icon *ngIf="comment?.length" (click)="addComment()" size="small" slot="end" name="paper-plane" color="primary"></ion-icon>
    </ion-item>
    <ng-template #noUser>
      <ion-item routerLink="/tabs/user" lines="none">
        <ion-icon size="small" slot="start" name="chatbubbles" color="primary"></ion-icon>
        <ion-label color="primary">Login to Comment</ion-label>
      </ion-item>
    </ng-template>
  </ion-toolbar>
</ion-footer>
