<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>New Post</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!postForm.valid" (click)="submit()">Submit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">

  <form *ngIf="auth.user$ | async; else noUser" [formGroup]="postForm">
    <ion-list lines="full">

      <ion-item>
        <ion-label position="floating">Type of Essential Business</ion-label>
        <ion-input formControlName="type" minlength="3" maxlength="32"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Company</ion-label>
        <ion-input formControlName="company" minlength="3" maxlength="32"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Post Title</ion-label>
        <ion-input formControlName="title" minlength="3" maxlength="32"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Share your story...</ion-label>
        <ion-textarea formControlName="content" autoGrow rows="5" minlength="3"></ion-textarea>
      </ion-item>

    </ion-list>
  </form>

  <ng-template #noUser>
    <ion-item routerLink="/tabs/user" lines="none" style="margin-top: 30vh">
      <ion-icon size="small" slot="start" name="happy" color="primary"></ion-icon>
      <ion-label color="primary">Login to write posts!</ion-label>
    </ion-item>
  </ng-template>
</ion-content>
