<div style="display: flex; flex-direction: column;">

  <ion-text *ngIf="!posts.length">
    <h3 style="text-align: center;">No posts :(</h3>
  </ion-text>

  <ion-card
    *ngFor="let post of posts"
    style="text-align: left; border-left: 4px solid var(--ion-color-primary);"
    [routerLink]="'/post-view/' + post.id">
    <ion-card-header>
      <ion-card-subtitle>{{ post.company }}, 6 hours ago</ion-card-subtitle>
      <ion-card-title>{{ post.title }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>{{ post.content }}</p>
    </ion-card-content>
  </ion-card>

</div>
