<div style="display: flex; flex-direction: column;">

  <ion-card
    *ngFor="let post of posts"
    style="text-align: left; border-left: 4px solid var(--ion-color-primary);"
    routerLink="/post-view">
    <ion-card-header>
      <ion-card-subtitle>Amazon Warehouse, 6 hours ago</ion-card-subtitle>
      <ion-card-title>The corona is gonna get us!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci enim sapiente aliquid, pariatur ullam eos et cumque similique vitae unde beatae veniam nobis delectus exercitationem impedit repellendus tempore dolore nostrum.
    </ion-card-content>
  </ion-card>

</div>
